
# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime. 
# See README for more details.

# Get this from https://mlab.com/home after you've logged in and created a database
MONGODB_URI=mongodb+srv://Fedor:57Felasi@cluster0.nilhv.mongodb.net/myFirstDatabase?retryWrites=true&w=majority

# Put lots of randomness in these
SESSION_SECRET=ashdfjhasdlkjfhalksdjhflak
